{% extends 'template.html.twig' %}

{% block page_title %}
    Erreur {{ status_code }}, trop de tentatives de connexion!
{% endblock %}


{% block content %}
<div class="container">
    <h1 class="text-center">Security warning</h1>

    <h2 class="text-center">Trop de tentatives de connexion</h2>

    <p class="text-center">
        Trop d'échecs de connexion détecté. <br>
        Vous avez essayé de vous connecter {{ constant('App\\Events\\UserEvents\\PostFailLoginSuscriber::MAX_LOGIN_FAILURE_ATTEMPTS') }}
        fois sans succès. <br>
        Vous ne serez <b>PLUS</b> capable de vous connecter pendant <b>{{ constant('App\\Events\\UserEvents\\FailLoginSuscriber::FAIL_TTL_HOUR') }}</b> heure(s), à partir de <strong>maintenant</strong>.
        Si vous pensez qu'il sagisse d'un bug, <a href="#">contactez nous</a> au plus vite !

    </p>

    <p class="time_left_before">
        <div class="alert alert-danger text-center" role="alert">
            Temps restant avant connexion {{ time_left }} minutes
        </div>
    </p>

    <p class="text-center">
        <b>Si vous avez perdu votre mot de passe, suivez le lien ci dessous :</b><br/><br/>
        <a href="{# path('user_resetting_request_'~locale) #}"  type="button" class="btn btn-primary btn-lg">
            <span>Demander un nouveau mot de passe</span>
        </a>
    </p>
</div>

    
{% endblock %}