<div class="from_search_layout_home">
    {{ form_start(form, {'action': path('search.query'), 'attr': { 'class':'form-inline' }}) }}
    <div class="form-group">
        {{ form_row(form.evenement) }}
    </div>
    <div class="form-group">
        {{ form_row(form.place) }}
    </div>
    <button type="submit" class="btn btn-default pull-right">Rechercher</button>
    {{ form_end(form) }}
</div>