<div class="container-fluid mt-5">
    <div class="row footer-top">
        <div class="col-sm-4 text-center">
            <h4 class="ft-text-title">Media Name</h4>
            <h6 class="ft-desp">Company Name
                <br>Country Name
            </h6>
            <h4 class="details">
                <a class="contact" href="tel:+977-1-4107223">
                    <i class="fa fa-phone" aria-hidden="true"></i> +977-000000</a>
            </h4>
        </div>
        <div class="col-sm-4 text-center border-left">
            <h4 class="ft-text-title">Our Team</h4>
            <div class="address-member">
                <p class="member">
                    <b>Director</b> :
                </p>
                <p class="member">
                    <b>Editor</b> :
                </p>
                <p class="member">
                    <b>Reporter</b> :
                </p>
                <p class="member">
                    <b>Reporter</b> :
                </p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12 text-center border-left">
            <h4 class="ft-text-title">About</h4>
            <div class="pspt-dtls">
                <a href="#" class="about">About</a>
                <a href="#" class="team">Team</a>
                <a href="#" class="advertise">Advertise</a>
                <br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
    <div class="row ft-copyright pt-2 pb-2" style="padding-left: 25px;">
        <div class="col-sm-4 text-pp-crt">cpoyright 2018 All  Rights Reserved</div>
        <div class="col-sm-4 text-pp-crt-rg">Department of Information Reg No :</div>
        <div class="col-sm-4 developer">
            <a href="https://topline-tech.com" target="_blank" class="text-pp-crt">By : <b>T</b>op<b>L</b>ine</a>
        </div>
    </div>
</div>