{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <div class="form-view">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
