{% extends 'template.html.twig' %}

{% block page_title %}
    profil {{ app.user.username }}
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong> {{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Réservations en attente</a>
            </li>
        </ul>
        <div class="tab-content mt-4" id="myTabContent">
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                {% include 'components/__profil-component.html.twig' %}
            </div>
            <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                {#{% include 'components/_reservations-on-pending.html.twig' %}#}
                {{ render(controller('App\\Controller\\UserController::reservationsEnAttente')) }}
            </div>
        </div>
    </div>
{% endblock %}
